/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 115px 50px 95px 50px;
}

.navigation-links-wrapper {
  display: flex;
  gap: 28px;
}

.main-logotype {
  position: relative;
  top: 2px;
  width: 135px;
}

.link {
  border-bottom: 1px solid;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  text-transform: lowercase;
}

.link-active {
  border-bottom: none;
}

.link-see-more {
  font-size: 20px;
}

.navigation-link {
  padding-left: 5px;
  list-style: circle;
}

.navigation-link:nth-child(1) {
  padding-left: 0;
  list-style: none;
}

.address {
  width: 242px;
}

.address-alignment {
  justify-self: end;
}

.address-list {
  font-style: normal;
  line-height: 24px;
  list-style: none;
}

.address-street {
  font-size: 18px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-section {
  position: relative;
  margin-bottom: 182px;
  background: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.hero-content {
  padding: 165px 50px 50px 50px;
}

.hero-title {
  position: relative;
  padding-bottom: 106px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.hero-description-spacing {
  letter-spacing: 0.2px;
}

.line {
  display: block;
}

.line-aligned-left {
  text-align: left;
}

.line-aligned-center {
  text-align: center;
  padding-top: 18px;
  padding-left: 32px;
}

.line-aligned-right {
  position: relative;
  left: 30px;
  padding-top: 18px;
  text-align: right;
}

.hero-description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  white-space: pre;
}

.hero-button {
  border: 1px solid;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  background: none;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.subtitle-spacing {
  padding-left: 40px;
}

.lots {
  margin-bottom: 120px;
  padding: 0 24px;
}

.lots-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 30px 0;
}

.lot-card {
  position: relative;
  min-height: 596px;
  list-style: none;
}

.lot-card-image-movie {
  background: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.lot-card-image-book {
  background: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.lot-card-image-picture {
  background: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lot-card-link {
  position: relative;
  display: block;
  height: 100%;
  padding: 48px 40px;
}

.lot-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lot-card-title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline #fff;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.lot-card-copy{
  border-bottom: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.see-more-wrapper {
  padding-left: 40px;
  padding-top: 4px;
}

.auction {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  margin-bottom: 180px;
}

.auction-copy {
  padding-top: 140px;
}

.auction-logotype-column {
  justify-items: center;
  padding-top: 35px;
}

.auction-logotype-wrapper {
  position: relative;
  top: 0;
  left: 13px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.auction-logotype {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 148px;
  transform: translate(-50%, -50%);
}

.auction-description {
  padding-top: 24px;
  padding-right: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.auction-description:nth-child(2) {
  padding-top: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 2px 50px 80px 50px;
}

.footer-navigation-items {
  width: 200px;
}

.footer-navigation-item {
  line-height: 24px;
  list-style: none;
}


.footer-navigation-item:nth-child(1) {
  line-height: 24px;
  list-style: none;

  .link {
    border-bottom: 0;
  }
}

.copy-center {
  text-align: center;
}

.social-links-wrapper {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.social-link {
  display: block;
  text-decoration: none;
}

.social-link-icon {
  display: block;
  width: 48px;
  height: 48px;
}

.social-link-youtube {
  background: url("../images/yt.svg");
}

.social-link-vk {
  background: url("../images/vk.svg");
}

.social-link-pinterest {
  background: url("../images/pinterest.svg");
}